
Given a currency rate, this function calculates the target currency value from the given base currency value
    This function helps convert the base_currency into target_currency where the base_currency_value and conversion rates are given
